header, footer{
    width: 100%;
    height: 100px;
    background-color: transparent;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    padding: 0 20px;

    .afluent-logo{
        height: 2rem;
        fill: var(--branco);
    }

    button{
        background-color: transparent;
        border: none;
        padding: 0;
        margin: auto;
        cursor: pointer;
    }
}

footer{
    background-color: var(--azul-escuro);
    position: absolute;
    bottom: 0;
    z-index: 10;
    height: 60px;
    button{
        padding: 10px 35px;
        border: none;
        border-radius: 15px;
        background-color: var(--branco);
        color: var(--preto);
        font-size: 1rem;
        font-weight: bold;
        cursor: pointer;
    }

    form{
        width: 100%;
        padding: 20px;
        display: flex;
        gap: 20px;
        input{
            padding: 10px;
            border: none;
            border-radius: 15px;
            background-color: var(--branco);
            font-size: 1rem;
            width: 100%;
        }
}
}