.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1a2640; /* fundo azul escuro */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* fica acima de tudo */
}

.spinner-icon {
  font-size: 60px;
  color: #e9ecf3;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}