:root{
    --branco: #E5E7EF;
    --preto: #202124;
    --vermelho: #EF5252;
    --verde: #70C06C;
    --cinza-escuro: #2F333C;
    --cinza-claro: #949CAE;
    --cinza: #4E5668;
    --azul-escuro: #253045;
    --azul-claro: #7291B2;

    --h-title-bar: 40px
}

:root[data-theme="dark"]{
  --background: var(--preto);
  --title-bar: var(--cinza-escuro);

  --logo: var(--branco);
  
  --pri-text: var(--branco);
  --sec-text: var(--cinza-claro);
  --pri-elements: var(--branco);
  --sec-elements: var(--cinza-claro);
  --back-dis-btn: var(--cinza-escuro);
  --text-dis-btn: var(--cinza-claro);
  --back-ena-btn: var(--branco);
  --text-ena-btn-off: var(--branco);
  --text-ena-btn-on: var(--preto);
  --des-color: var(--azul-claro);

  --word-focus: var(--branco);
  --word-blur: var(--cinza-claro);
  --word-ia-focus: var(--des-color);
  --word-ia-blur: var(--cinza-escuro);

  --dashboard-nav-back: var(--cinza-escuro);
  --dashboard-nav-item-back: var(--preto);
  --dashboard-nav-item-icon: var(--branco);
}

:root[data-theme="light"]{
  --background: var(--branco);
  --title-bar: var(--cinza-claro);

  --logo: var(--preto);

  --pri-text: var(--cinza-escuro);
  --sec-text: var(--cinza-claro);
  --pri-elements: var(--cinza-escuro);
  --sec-elements: var(--cinza-claro);
  --back-dis-btn: var(--cinza-claro);
  --text-dis-btn: var(--cinza);
  --back-ena-btn: var(--cinza-escuro);
  --text-ena-btn-off: var(--cinza-escuro);
  --text-ena-btn-on: var(--branco);
  --des-color: var(--azul-claro);

  --word-focus: var(--cinza-escuro);
  --word-blur: var(--cinza-claro);
  --word-ia-focus: var(--cinza-escuro);
  --word-ia-blur: var(--cinza-claro);

  --dashboard-nav-back: var(--cinza-claro);
  --dashboard-nav-item-back: var(--branco);
  --dashboard-nav-item-icon: var(--preto);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  /* font-weight: normal; */
}

ul {
  list-style: none;
}

body {
  min-height: 100vh;
  /* color: var(--color-text);
  background: var(--color-background); */
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 40px;
}