@import '@xyflow/react/dist/style.css';

@import './base.css';
@import './stylesheets/layouts/layout.css';
@import './stylesheets/components/button.css';
@import './stylesheets/components/input.css';
@import './stylesheets/components/textarea.css';

.titleBar{
    width: 100%;
    height: var(--h-title-bar);
    -webkit-app-region: drag;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: var(--title-bar);
}

body{
    background-color: var(--background);
}