@import './base.css';
@import './css/layout.css';

@import './css/start-page.css';
@import './css/introduce-page.css';
@import './css/develope-page.css';
@import './css/pool.css';

.titleBar{
    width: 100%;
    height: 40px;
    -webkit-app-region: drag;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: var(--azul-escuro);
}