@import '@xyflow/react/dist/style.css';

@import './base.css';
@import './stylesheets/layouts/layout.css';
/* 
@import './stylesheets/pages/start-page.css';
@import './stylesheets/pages/introduce-page.css';
@import './stylesheets/pages/develope-page.css';
@import './stylesheets/components/pool.css'; */

.titleBar{
    width: 100%;
    height: 40px;
    -webkit-app-region: drag;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: var(--azul-escuro);
}