@import '@xyflow/react/dist/style.css';
@import './base.css';
@import './stylesheets/layouts/layout.css';
@import './stylesheets/components/button.css';
@import './stylesheets/components/textarea.css';
@import './stylesheets/components/input.css';

.titleBar{
    width: 100%;
    height: var(--h-title-bar);
    -webkit-app-region: drag;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: var(--title-bar);
}

*{
    font-family: sans-serif;
}

img{
    user-select: none;
    border-radius: 50%;
    min-height: 50px;
    min-width: 50px;
}