.dashboard-header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    /* border: 1px solid red; */
    gap: 20px;

    .search-header{
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        input{
            width: 100%;
        }

        .icon-search{
            position: absolute;
            right: 12px;
            color: var(--pri-elements);
            transition: all .3s ease-in-out;
        }

        &:hover .icon-search, &:focus .icon-search{
            color: var(--des-color);
        }
    }

    img{
      cursor: pointer;
    }

    
}

.icon{
    color: var(--pri-elements);
}

.dashboard-nav{
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    
}

.div-type-list-nav {
    background: var(--dashboard-nav-back);
    padding: 10px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    visibility: hidden;
}

.type-list-nav {
    padding: 5px;
    color: var(--sec-elements);
}

.type-list-nav-selected {
    background: var(--dashboard-nav-item-back);    
    border-radius: 5px;
    color: var(--pri-elements);
}

.dashboard-nav-p {
    color: var(--pri-elements);
    font-size: 1.5rem;
    font-weight: bold;
}

.dashboard-main-p {
    text-align: center;
    color: var(--pri-elements);
    margin-top: 50px;
    font-weight: bold;
    font-size: 2rem;
    position: absolute;
    left: 0;
    right: 0;
}

/* Configuração do Container Principal */
.dashboard-main{
  display: grid;
  /* Começa com 5 colunas de tamanhos iguais (frações) */
  grid-template-columns: repeat(5, 1fr); 
  gap: 20px; /* Espaço entre os itens */
  padding: 20px;
  width: 100%;
  box-sizing: border-box; /* Garante que o padding não estoure a largura */
}

/* --- Responsividade (Media Queries) --- */

/* Quando a tela for menor que 1200px, muda para 3 colunas */
@media (max-width: 1200px) {
  .dashboard-main{
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Quando a tela for menor que 768px (tablets), muda para 2 colunas */
@media (max-width: 768px) {
  .dashboard-main{
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Quando a tela for menor que 480px (celulares), muda para 1 coluna */
@media (max-width: 480px) {
  .dashboard-main{
    grid-template-columns: 1fr;
  }
}

/* Estilo básico para os itens (filhos) só para visualizar */
.brainstorm-card {
  width: 200px;
  height: 150px;
  
  padding: 20px;
  text-align: center;
  border-radius: 15px;
  border: 1px solid var(--pri-elements);
  color: var(--text-ena-btn-off);

  p{
    transition: all .3s ease-in-out;
  }

  &:hover p, &:focus-visible p{
    color: var(--text-ena-btn-on);
}

  aspect-ratio: 3/2;

  text-transform: unset;
}

