header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    /* border: 1px solid red; */
    gap: 20px;

    .search-header{
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        input{
            width: 100%;
        }

        .icon-search{
            position: absolute;
            right: 12px;
            color: var(--pri-elements);
            transition: all .3s ease-in-out;
        }

        &:hover .icon-search, &:focus .icon-search{
            color: var(--des-color);
        }
    }

    .icon{
        color: var(--pri-elements);
    }
}