header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    /* border: 1px solid red; */
    gap: 20px;

    .search-header{
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        input{
            width: 100%;
        }

        .icon-search{
            position: absolute;
            right: 12px;
            color: var(--pri-elements);
            transition: all .3s ease-in-out;
        }

        &:hover .icon-search, &:focus .icon-search{
            color: var(--des-color);
        }
    }

    
}

.icon{
    color: var(--pri-elements);
}

nav{
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    
}

.div-type-list-nav {
    background: var(--dashboard-nav-back);
    padding: 10px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.type-list-nav {
    padding: 5px;
    color: var(--sec-elements);
}

.type-list-nav-selected {
    background: var(--dashboard-nav-item-back);    
    border-radius: 5px;
    color: var(--pri-elements);
}

.dashboard-nav-p {
    color: var(--pri-elements);
    font-size: 1.5rem;
    font-weight: bold;
}

.btn-config{
    outline: none;
    transition: all .3s ease-in-out;
    cursor: pointer;
    &:focus{
        color: var(--des-color);
        width: 55px;
    }
}

/* main {
    display:grid;
    grid-template-columns: auto auto auto auto;
    grid-auto-flow: row;
} */

.dashboard-main-p {
    text-align: center;
    color: var(--pri-elements);
    margin-top: 50px;
    font-weight: bold;
    font-size: 2.2rem;
}