.introduce-page{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - var(--h-title-bar));
    gap: 20px;
    background-color: var(--background);

    form{
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        border: 1px solid red;
    }
}