.introduce-page{
    width: 100%;
    height: calc(100vh - var(--h-title-bar));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    background-color: var(--background);

    h1{
        color: var(--pri-text);
        font-size: 2rem;
        text-transform: uppercase;
    }

    form{
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        /* border: 1px solid red; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        input, textarea{
            width: 80%;
            resize: none;
        }

        textarea{
            height: 300px;
        }

        button{
            position: absolute;
            bottom: var(--h-title-bar);
            right: 40px;
        }
        button#btn-back{
            right: unset;
            left: 40px;
        }
        
        .isHidden{
            display: none;
        }

    }
    .btn-icon{
        position: absolute;
        left: 10px;
        top: calc(var(--h-title-bar) + 20px);
    }
}

