.introduce-page{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    gap: 20px;
    background-color: var(--azul-escuro);

    form{
        width: 100%;
        max-width: 1200px;
        height: calc(100% - 100px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 20%;
        padding-bottom: 10%;
        margin: auto;
        justify-content: start;
        gap: 25px;

        label{
            color: var(--branco);
            font-size: 1.2rem;
            display: flex;
            flex-direction: column;
            gap: 5px;
            font-weight: bold;
            width: 100%;
            
            input{
                padding: 10px;
                border: none;
                border-radius: 15px;
                background-color: var(--branco);
                font-size: 1rem;
                width: 100%;
            }
            textarea{
                padding: 10px;
                border: none;
                border-radius: 15px;
                background-color: var(--branco);
                font-size: 1rem;
                resize: none;
                height: 40vh;
                width: 100%;
            }
        }
        button{
            padding: 10px 35px;
            border: none;
            border-radius: 15px;
            background-color: var(--branco);
            color: var(--preto);
            font-size: 1rem;
            font-weight: bold;
            cursor: pointer;
        }
    }
}