.login-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - var(--h-title-bar));
  gap: 20px;
  background-color: var(--background);

  .afluent-logo{
    height: 2rem;
    fill: var(--logo);
  }
  h2{
    font-size: 1.5rem;
  }
}

.user-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px;
  gap: 20px;
}

.user-card {
  width: 150px;
  height: 150px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;

  img{
   width: 60px;
  }
}