.login-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - var(--h-title-bar));
  gap: 20px;
  background-color: var(--background);

  .afluent-logo{
    height: 2rem;
    fill: var(--logo);
  }
}

.user-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.user-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 15px;
  padding: 10px 35px;
    border: none;
    border-radius: 15px;
    border: 3px solid var(--back-ena-btn);
    background-color: transparent;
    color: var(--text-ena-btn-off);
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: all .3s ease-in-out;

    &:hover, &:focus{
      background-color: var(--back-ena-btn);
      color: var(--text-ena-btn-on);
      outline: none;
    }
}