.start-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - var(--h-title-bar));
  gap: 20px;
  background-color: var(--background);

  .afluent-logo{
    height: 2rem;
    fill: var(--logo);
  }

}