.start-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  gap: 20px;
  background-color: var(--background);

  .afluent-logo{
    height: 2rem;
    fill: var(--logo);
  }

  button{
    padding: 10px 35px;
    border: none;
    border-radius: 15px;
    border: 3px solid var(--back-ena-btn);
    background-color: transparent;
    color: var(--text-ena-btn-off);
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: all .3s ease-in-out;

    &:hover{
      background-color: var(--back-ena-btn);
      color: var(--text-ena-btn-on);
    }
  }
}