header, footer{
    width: 100%;
    height: 100px;
    background-color: transparent;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    padding: 0 20px;

    .afluent-logo{
        height: 2rem;
        fill: var(--branco);
    }

    /* button{
        background-color: transparent;
        border: none;
        padding: 0;
        margin: auto;
        cursor: pointer;
    } */
}