.header-toolsbar{
    position: fixed;
    left: 0;
    top: calc(25px + var(--h-title-bar));
    padding: 0 25px;
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 20px; 

    /* border: 1px solid red; */
    min-height: 50px;
}