.main-menu-brainstorm{

    padding: 6px 10px;
    width: 120px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    svg{
        stroke-width: 3px;
    }
    
    svg.afluent-logo{
        stroke-width: 0;
        fill: var(--text-ena-btn-off);
        transition: all .3s ease-in-out;
        width: 80%;
    }

    &:hover svg.afluent-logo, &:focus-visible svg.afluent-logo{
        fill: var(--text-ena-btn-on);
    }
}

.main-menu-focus{
    background-color: var(--back-ena-btn);
    color: var(--text-ena-btn-on);

    svg.afluent-logo{
        fill: var(--text-ena-btn-on);
    }
}