button {
    /* min-height: 55px; */
    /* min-width: 125px; */
    padding: 12px 16px;
    border-radius: 15px;
    border: 3px solid var(--back-ena-btn);
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    background-color: transparent;
    color: var(--text-ena-btn-off);
    transition: all .3s ease-in-out;
    cursor: pointer;
    outline: transparent;
    text-transform: uppercase;

    &:hover, &:focus{
        background-color: var(--back-ena-btn);
        color: var(--text-ena-btn-on);
    }

    &:disabled{
        cursor: auto;
        background-color: var(--back-dis-btn);
        color: var(--text-dis-btn);
        border-color: var(--back-dis-btn);
    }

}

.btn-icon{
    border: transparent;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    border-radius: 0;
    &:hover, &:focus{
        background-color: transparent;
        color: transparent;
    }
    &:disabled{
        cursor: auto;
        background-color: transparent;
        color: transparent;
        border-color: transparent;
    }
    
    .icon{
        outline: none;
        cursor: pointer;
        color: var(--pri-elements);
        transition: all .3s ease-in-out;
        &:hover{
            color: var(--des-color);
        }
    }
    &:hover .icon, &:focus .icon{
        color:var(--des-color);
    }
}