button {
    padding: 8px 16px;
    border-radius: 15px;
    border: 3px solid var(--back-ena-btn);
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    background-color: transparent;
    color: var(--text-ena-btn-off);
    transition: all .3s ease-in-out;
    cursor: pointer;
    outline: none;
    text-transform: uppercase;

    &:hover, &:focus{
        background-color: var(--back-ena-btn);
        color: var(--text-ena-btn-on);
    }

    &:disabled{
        cursor: auto;
        background-color: var(--back-dis-btn);
        color: var(--text-dis-btn);
        border-color: var(--back-dis-btn);
    }
}