#wrapper {
    display: flex;
    background-color: var(--background);
    color: var(--pri-text);
}

#aside {
    padding: 20px;
}

#main {
    padding: 20px;
    color: var(--pri-text);
}

*{
    color: var(--pri-text);
}

.dialog {
    height: 500px;
}

.list-config {
    margin-bottom: 0.8rem;
}

.button-config {
    display: flex;
    padding: 0.625rem 1.25rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
    width: 8.6rem;

    color: var(--pri-text);
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;

    &:hover {
        background-color: var(--cinza-escuro);
        color: var(--pri-text);
        cursor: pointer;
    }
}

.btn-x-icon {
    position: absolute;
    right: 10px;
    top: 20px;
    color: var(--pri-text);
}

.p1{
    color: var(--azul-claro);
    cursor: pointer;
}