.drop-menu {
  background-color: var(--background);
  padding: 5px 10px;
  border-radius: 20px;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);
  border: 0.1px solid var(--sec-elements);
  z-index: 9999;
  min-width: max-content;
  margin-top: 15px;
  margin-left: 20px;
  /* position: fixed; */
}

.drop-menu-item {
  color: var(--pri-text);
  padding: 5px 15px;
  border-radius: 10px;
  margin: 5px 0;
  outline: none;
  cursor: pointer;
  user-select: none;
}

.drop-menu-item:hover, .drop-menu-item:focus {
  background-color: var(--des-color);
}

.drop-menu-item[data-highlighted] {
  background-color: var(--des-color);
}

.drop-menu-item[data-disabled],
.drop-menu-item:disabled {
  display: none;
  pointer-events: none;
}

.drop-menu-item-delete {
  color: var(--vermelho);
  &:hover{
    background-color: var(--vermelho);
    color: var(--pri-text);
  }
}