.base-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-modal-color);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999 !important;
}

.error-modal, .success-modal {
  background-color: var(--background);
  border-radius: 10px;
  position: fixed;
  z-index: 9000 !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 800px;
  min-height: 200px;
  padding: 25px;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;

  p {
    color: var(--pri-text);
    font-weight: normal;
    font-size: 1.3rem;
    text-align: center;
  }
  h2 {
    color: var(--pri-text);
    font-weight: bolder;
    font-size: 1.8rem;
    text-align: center;
  }
}

.success-modal{
  gap: 0;
  justify-content: space-around;
  border-top: 3px solid var(--verde);
  p {
    font-weight: bolder;
    font-size: 1.8rem;
  }
}

.error-modal{
  border-top: 3px solid var(--vermelho);
}