.base-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(47, 51, 60, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.error-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--vermelho);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.success-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 100px;
  background-color: var(--azul-escuro);
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1000;
  border-radius: 10px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
}

p {
  color: var(--branco);
  font-weight: bolder;
  font-size: 20px;
  text-align: center;
}