.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--title-bar);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9998;
}

.spinner-icon {
  font-size: 60px;
  color: var(--pri-elements);
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}