textarea{
    padding: 12px;
    border: 3px solid var(--pri-elements);
    background-color: transparent;
    outline: none;
    border-radius: 15px;
    font-weight: bold;
    font-size: 1rem;
    color: var(--pri-text);
    transition: all .2s ease-in-out;
    resize: none;
    
    &::placeholder{
        color: var(--sec-text);
        font-size: 1rem;
    }

    &:hover, &:focus{
        border-color: var(--des-color);
    }
}

textarea#brainstorm-context-input{
    height: 250px;
}