.theme-toggle{
    position: absolute;
    top: calc(20px + var(--h-title-bar));
    border: none;
    background-color: none;

    .icon{
        color: var(--text-ena-btn-off);
        transition: all .3s ease-in-out;
    }

    &:hover, &:focus-visible{
        border-color: unset;
        background-color: unset;
        color: var(--text-ena-btn-on);

        .icon{
            color: var(--des-color);
        }
    }
}